kind: Deployment
apiVersion: apps/v1
metadata:
  name: kubectlapp-{{.Replica}}
spec:
  template:
    metadata:
      labels:
        name: kubectlapp-{{ .Replica }}
        redhat-best-practices-for-k8s.com/generic: target
    spec:
      serviceAccountName: kubectlapp-sa-{{ .Replica }}
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      containers:
        - name: kubectlapp
          image: {{ .Image_kubectl | quote }}
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh","-c"]
          args:
          - |
            while true; do
              kubectl get pods -n workload
              kubectl get services -n workload
              sleep 5
            done
          resources:
            {{- $cpu_limit := .cpu_limit | default "100m" }}
            {{- $mem_limit := .mem_limit | default "128Mi" }}
            requests:
              cpu: {{ .cpu_request | default $cpu_limit | quote }}
              memory: {{ .mem_request | default $mem_limit | quote }}
              {{- if .hugepages_request | default .hugepages_limit }}
              hugepages-1Gi: {{ .hugepages_request | default .hugepages_limit | quote }}
              {{- end }}
              {{- if .ephemeral_storage_request | default .ephemeral_storage_limit }}
              ephemeral-storage: {{ .ephemeral_storage_request | default .ephemeral_storage_limit | quote }}
              {{- end }}
            limits:
              cpu: {{ $cpu_limit | quote }}
              memory: {{ $mem_limit | quote }}
              {{- if .hugepages_limit }}
              hugepages-1Gi: {{ .hugepages_limit | quote }}
              {{- end }}
              {{- if .ephemeral_storage_limit }}
              ephemeral-storage: {{ .ephemeral_storage_limit | quote }}
              {{- end }}
          volumeMounts:
            {{- range $volume := .volumes }}
            - name: {{ $volume.name | default $volume.value }}
              mountPath: {{ $volume.path }}
            {{- end }}
        - name: nginx
          image: {{ .Image_nginx | quote }}
          resources:
            {{- $nginx := .nginx | default dict }}
            {{- $cpu_limit := $nginx.cpu_limit | default "100m" }}
            {{- $mem_limit := $nginx.mem_limit | default "128Mi" }}
            requests:
              cpu: {{ $nginx.cpu_request | default $cpu_limit | quote }}
              memory: {{ $nginx.mem_request | default $mem_limit | quote }}
              {{- if $nginx.hugepages_request | default $nginx.hugepages_limit }}
              hugepages-1Gi: {{ $nginx.hugepages_request | default $nginx.hugepages_limit | quote }}
              {{- end }}
              {{- if $nginx.ephemeral_storage_request | default $nginx.ephemeral_storage_limit }}
              ephemeral-storage: {{ $nginx.ephemeral_storage_request | default $nginx.ephemeral_storage_limit | quote }}
              {{- end }}
            limits:
              cpu: {{ $cpu_limit | quote }}
              memory: {{ $mem_limit | quote }}
              {{- if $nginx.hugepages_limit }}
              hugepages-1Gi: {{ $nginx.hugepages_limit | quote }}
              {{- end }}
              {{- if $nginx.ephemeral_storage_limit }}
              ephemeral-storage: {{ $nginx.ephemeral_storage_limit | quote }}
              {{- end }}
          ports:
            - containerPort: 8080
          startupProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 60
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 60
      restartPolicy: Always
      volumes: {{- template "volumes_func" (list .volumes 8) }}
  replicas: {{ .num_of_replicas | default 1 | int }}
  selector:
    matchLabels:
      name: kubectlapp-{{ .Replica }}
      redhat-best-practices-for-k8s.com/generic: target
  strategy:
    type: RollingUpdate
